/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body Styles */
body {
  font-family: 'Arial', sans-serif;
  background: url('../assets/winter.jpg') no-repeat center center/cover;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow-x: hidden;
  padding: 20px;
}

/* App Container */
.app-container {
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Cards Container */
.cards-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
}

/* Task Item Container */
.container {
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  min-width: 25rem;
  max-width: 100%;
  margin: 5px;
  transition: transform 0.3s ease;
  color: #040000;
}

.container:hover {
  transform: scale(1.03);
}

/* Task List */
ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  list-style-type: none;
}

/* Task Title, Description, Status */
.tasktitle, .taskdesc, .remDays, .status {
  margin: 1rem 0;
}

.tasktitle h3, .taskdesc h3, .remDays h3, .status h3 {
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
}

/* Buttons */
button {
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  color: white;
  transition: all 0.3s ease-in-out;
  background: linear-gradient(135deg, #6a11cb, #2575fc);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

button:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}

button:active {
  transform: translateY(0);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

button:focus {
  outline: 2px solid #fff;
}

/* Button Variants */
.editbtn {
  background: linear-gradient(135deg, #ff7e5f, #feb47b);
}

.addbtn {
  background: linear-gradient(135deg, #43e97b, #38f9d7);
}

.btndelete {
  background: linear-gradient(135deg, #ff512f, #dd2476);
  margin: 0 1rem;
}

.btncomplete {
  background: linear-gradient(135deg, #f4d03f, #16a085);
}

/* Input Fields */
.inputtitle, .inputdesc, .inputdate {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  margin: 10px ;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: #000;
}

.inputtitle:hover, .inputdesc:hover, .inputdate:hover {
  border: 1px solid rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
}

/* Responsive Design */
@media (max-width: 768px) {
  .container {
    min-width: 100%;
  }

  ul {
    flex-direction: column;
    align-items: center;
  }

  .inputtitle, .inputdesc, .inputdate {
    max-width: 100%;
  }
}
